*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-image: url("images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 400px;
  overflow: hidden;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 10px 2rem 0.2rem hsla(245, 75%, 52%, 0.2);
}

.hero-img {
  width: 100%;
  display: block;
}

.container {
  padding: 2rem 0;
  width: 85%;
  margin: 0 auto;
}

.order-summary {
  text-align: center;
}

.title {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: hsl(223, 47%, 23%);
}

.confirmation {
  color: hsl(224, 23%, 55%);
  margin-bottom: 1rem;
}

.annual-plan {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.music-icon {
  width: 15%;
  margin-right: 1rem;
}

.text-col {
  flex: 1;
}

.annual-title {
  font-weight: 700;
}

.annual-price {
  color: hsl(224, 23%, 55%);
}

.change-col a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  cursor: pointer;
  transition: color 0.15s, text-decoration 0.15s;
}

.change-col a:hover {
  color: hsl(245, 90%, 67%);
  text-decoration: none;
}

.btns {
  display: flex;
  flex-direction: column;
}

button {
  padding: 1rem 0;
  border: none;
  border-radius: 0.875rem;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}

.btn-proceed {
  background-color: hsl(245, 75%, 52%);
  color: white;
  box-shadow: 0 0.375rem 0.875rem 0.5rem hsla(245, 75%, 52%, 0.2);
  transition: backgroun-color 0.15s;
}

.btn-proceed:hover {
  background-color: hsl(245, 90%, 67%);
}

.btn-cancel {
  margin-top: 0.75rem;
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  transition: color 0.15s;
}

.btn-cancel:hover {
  color: hsl(223, 47%, 23%);
}

@media (max-width: 414px) {
  main {
    margin: 7vh auto;
    width: 90vw;
    min-width: 300px;
  }
}
